* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$color-primary: #f9ed69;
$color-secondary: #f08a4b;
$color-tertiary: #bce7fd;
$color-quaternary: #000;

nav {
    margin: 30px;
    background-color: $color-primary;
}
