@mixin clearfix {
    &::after {
        content: '';
        display: table;
        clear: both;
    }
}

@mixin absCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

// Media query manager
/*
0 - 600px: Phone
600 - 900px: Tablet portrait
900 - 1200px: Tablet landscape
1200 - 1800px: Desktop
1800px +: Big desktop
*/

@mixin respond-phone {
    @media (max-width: 600px) {
        @content;
    }
}

/*
$breakpoint argument choices:
- phone
- tablet-portrait
- tablet-landscape
- desktop
- big-desktop

order: base + typography > general layout + grid > page layout > components
*/

@mixin respond($breakpoint) {
    @if $breakpoint == phone {
        @media (max-width: 37.5em) {
            @content;
        }
    }
    @if $breakpoint == tablet-portrait {
        @media (max-width: 56.25em) {
            @content;
        }
    }
    @if $breakpoint == tablet-landscape {
        @media (max-width: 75em) {
            @content;
        }
    }
    @if $breakpoint == desktop {
        @media (max-width: 112.5em) {
            @content;
        }
    }
    @if $breakpoint == big-desktop {
        @media (min-width: 112.5em) {
            @content;
        }
    }
}
