.section-about {
    background-color: $color-grey-light-1;
    padding: 25rem 0;
    margin-top: -20vh;

    @include respond(tablet-portrait) {
        padding: 20rem 0 20rem 0;
    }
}

.section-features {
    padding: 20rem 0;
    background-image: linear-gradient(
            to right bottom,
            rgba($color-primary-light, 0.8),
            rgba($color-primary-dark, 0.8)
        ),
        url(../img/hero.jpg);
    background-size: cover;
    background-position: top;
    transform: skewY(-8deg);
    margin-top: -10rem;
    position: relative;

    & > * {
        transform: skewY(8deg);
    }

    @include respond(tablet-portrait) {
        padding: 10rem 0;
    }
}

.section-tours {
    padding: 20rem 0;
    margin-top: -10rem;
    background-color: $color-grey-light-1;

    @include respond(tablet-portrait) {
        padding: 20rem 0 10rem 0;
    }
}

.section-stories {
    padding: 15rem 0;
    position: relative;

    @include respond(tablet-portrait) {
        padding: 10rem 0;
    }
}

.section-book {
    padding: 15rem 0;
    background-image: linear-gradient(
        to right bottom,
        rgba($color-primary-light, 0.8),
        rgba($color-primary-dark, 0.8)
    );
    // background-size: cover;
    // background-position: center;

    @include respond(tablet-portrait) {
        padding: 10rem 0;
    }
}

.book {
    background-image: linear-gradient(
            105deg,
            rgba($color-white, 0.9) 0%,
            rgba($color-white, 0.9) 50%,
            transparent 50%
        ),
        url(../img/nat-10.jpg);
    background-size: cover;
    border-radius: 3px;
    box-shadow: 0 3rem 6rem rgba($color-black, 0.1);

    @include respond(tablet-land) {
        background-image: linear-gradient(
                105deg,
                rgba($color-white, 0.9) 0%,
                rgba($color-white, 0.9) 65%,
                transparent 65%
            ),
            url(../img/nat-10.jpg);
        background-size: cover;
    }

    @include respond(tablet-portrait) {
        background-image: linear-gradient(
                to right,
                rgba($color-white, 0.9) 0%,
                rgba($color-white, 0.9) 100%
            ),
            url(../img/nat-10.jpg);
        background-size: cover;
    }

    &__form {
        // margin-top: 3rem;
        // display: grid;
        // grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
        // grid-gap: 1.5rem;
        width: 50%;
        padding: 6rem;

        @include respond(tablet-land) {
            width: 65%;
        }

        @include respond(tablet-portrait) {
            width: 100%;
        }
    }
}
